<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Evento App</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Detalhes de Evento</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn"
						href="/cadastrarEvento"><i class="material-icons left">add_circle_outline</i>Cadastrar
							Evento</a></li>
				</ul>
			</div>
		</nav>

	</header>
	<h1>Evento</h1>
	<h3>
		<a class="waves-effect waves-light btn" href="/eventos"><i
			class="material-icons left">menu</i>Lista de Eventos</a>

	</h3>

	<div th:each="evento: ${evento}">
		<div class="row">
			<p>
				Nome: <span th:text="${evento.nome}"></span>
			</p>
			<p>
				Local: <span th:text="${evento.local}"></span>
			</p>
			<p>
				Data: <span th:text="${evento.data}"></span>
			</p>
			<p>
				Horário: <span th:text="${evento.horario}"></span>
			</p>
		</div>
	</div>
	
	<h1>Cadastrar Convidado</h1>
	<th:block th:include="mensagemValidacao"></th:block>

	<form method="POST">

		<div class="row">
			<div class="input-field col s3">
				Nome Convidado: <input type="text" value="" name="nomeConvidado" />
			</div>

			<div class="input-field col s3">
				RG: <input type="text" value="" name="rg" />
			</div>

		</div>

		<button class="waves-effect waves-light btn" type="submit">Cadastrar</button>
	</form>

	<h3>Lista de Convidados</h3>
	<table>
		<head>
		<tr>
			<th>Nome do Convidado</th>
			<th>RG</th>
		</tr>
		</head>

		<tbody>
			<tr th:each="convidado: ${convidados}">
				<th><span th:text="${convidado.nomeConvidado}"></span></th>
				<th><span th:text="${convidado.rg}"></span></th>
			</tr>
		</tbody>
	</table>




	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>